.container{
    margin: 150px auto;

    width: 50%;
}

.dado{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 0 auto;
    
    border-radius: 10px;
}

h1{
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 80px;
}

.boton{

    margin: 20px auto;
    width: 20%;
}

.boton button{
    margin: 0 auto;
    text-align: center;
    padding: 10px 30px;
}